<document>
    <stackTemplate>
        <banner>
            <title>IPS Home Page</title>
        </banner>
        <collectionList binding="items:{rails}">

            <shelf>
                <header>
                    <title>First</title>
                </header>
                <section>
                    <lockup>
                        <img class="tile" src="https://s3.amazonaws.com/video-ingest-ips/rail_item/despicable_me_2_movie_poster_01.jpg" />
                        <title binding="textContent:{url};"/>
                    </lockup>
                </section>
            </shelf>
        </collectionList>
    </stackTemplate>
</document>